replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/rock-fortress-479417-t5/ecommerce-microservices/api-gateway
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

volumes:
  - name: config-volume
    configMap:
      name: api-gateway-config

volumeMounts:
  - name: config-volume
    mountPath: /home/app/config/application-prod.yml
    subPath: application-prod.yml

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"
  - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
    value: "http://discovery:8761/eureka/"
  - name: CLIENT_HOST
    value: "http://localhost:4200"
  - name: SPRING_CONFIG_IMPORT
    value: "optional:configserver:http://cloud-config:9296"
  - name: SPRING_ZIPKIN_BASE_URL
    value: "http://zipkin:9411/"

serviceAccount:
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

httpRoute:
  enabled: false
  annotations: {}
  parentRefs: []
  hostnames: []
  rules: []
