replicaCount: 1

image:
  repository: openzipkin/zipkin
  tag: latest
  pullPolicy: IfNotPresent  

service:
  type: NodePort
  port: 9411

readinessProbe:
  path: /health
  port: 9411
  initialDelaySeconds: 30
  periodSeconds: 10

livenessProbe:
  path: /health
  port: 9411
  initialDelaySeconds: 60
  periodSeconds: 15
  timeoutSeconds: 5
  failureThreshold: 3