replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/rock-fortress-479417-t5/ecommerce-microservices/cloud-config
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8888

resources: {}

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "native"
